<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<p th:text="${book.name + ', ' + book.author + ', ' + book.yearOfPublication}">VALUE</p>

<div>
<div th:if="${book.person == null}">

    <div sec:authorize="hasAuthority('ADMIN')">
        <p>Эта книга свободна. Кому ее назначить?</p>
        <form th:method="POST" th:action="@{/books/{id}(id=${book.getId()})}">
            <input type="hidden" name="_method" value="PATCH"/>
            <label for="person">Выберите человека: </label>
            <select name="personId" id="person">
                <option th:each="person : ${people}" th:value="${person.getId()}"
                        th:text="${person.getInitials()}"></option>
            </select>
            <input type="submit" value="Назначить книгу">
        </form>
    </div>


    <div sec:authorize="hasAuthority('USER')">
        <p>Книга свободна</p>
    </div>

</div>

    <div th:if="${book.person != null}">

        <p th:text="'Книга сейчас у: ' + ${book.person.initials}">Book Info</p>


        <div sec:authorize="hasAuthority('ADMIN')">
            <form th:method="POST" th:action="@{/books/{id}/free(id=${book.getId()})}">
                <input type="hidden" name="_method" value="PATCH"/>
                <input type="submit" value="Осводбодить книгу">
            </form>
        </div>
    </div>
</div>


<br/>
<hr/>
<br/>

<div sec:authorize="hasAuthority('ADMIN')">
    <form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
        <input type="submit" value="Редактировать"/>
    </form>

    <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
        <input type="submit" value="Удалить"/>
    </form>
</div>

</body>
</html>